{% extends 'general_components/base_template.twig' %}

{% block title %}Access point login {% endblock %}

{% block body %}
    <div class="row">
        <div class="center-block" style="width: 90%;">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First name</th>
                    <th scope="col">Father name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Type</th>
                    <th scope="col">Created at</th>
                </tr>
                </thead>
                <tbody>
                {% for key, item in items %}
                    {% set since = since + 1 %}
                    <tr>
                        <th scope="row">{{ since }}</th>
                        <td>{{ item.first_name }}</td>
                        <td>{{ item.father_name }}</td>
                        <td>{{ item.surname }}</td>
                        <td>{% if item.access_type == 1 %}IN{% elseif item.access_type == 2 %}OUT {% endif %}</td>
                        <td>{{ item.created_at }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="center-block bd-example" style="width: 100px;">
            <nav>
                <ul class="pagination">
                    {% if page > 1 %}
                        <li>
                            <a href="/access/access_point_log?p={{ page - 1 }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if items|length > 0 %}
                        <li>
                            <a href="/access/access_point_log?p={{ page + 1 }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
